@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
  font-family: 'Mulish', sans-serif;
}

/* This is an inline style, you can also use an external stylesheet */
.hover-underline-animation {
  position: relative;
}
.poppins {
  font-family: 'Poppins', sans-serif !important;
}
.neon {
  font-family: 'Tilt Neon', sans-serif !important;
}
.sue {
  font-family: 'Sue Ellen Francisco', sans-serif !important;
}
.roboto {
  font-family: 'Roboto', sans-serif !important;
}
.trebuchet {
  font-family: 'Trebuchet MS', sans-serif !important;
}
.lato {
  font-family: 'Lato', sans-serif;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust this value to control the distance of the underline from the text */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust this value to control the thickness of the underline */
  background-color: #000; /* Change this to your desired underline color */
  transition: width 0.3s ease-in-out; /* Control the animation speed here */
}

.hover-underline-animation:hover::after {
  width: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  /* font-family: "helvetica", sans-serif; */
  font-size: 16px;
  font-family: 'Roboto', sans-serif !important;
  background-color: #000;
}
a {
  text-decoration: none;
  font-size: inherit;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}

.bg-download {
  background-image: url('../src//assets/Hero/hero-bg.svg');
  background-color: black;
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.btn-gradient {
  color: #fbfbfd;
  background: linear-gradient(95.14deg, #e52c43, #ff6c00 91.74%);
}

.GRID {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* column-gap: ; */
}
.transition-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.transition-content.expanded {
  max-height: 1000px; /* Large enough value to accommodate the content */
  opacity: 1;
}

.bg-effec {
  background-image: url('../public/assets/waves-light.svg');
}

.form-select {
  padding: 0.3rem 1.8rem 0.3rem 0.6rem;
  font-size: 0.9062rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-size: 16px 12px;
  border-radius: 0.5rem;
}
.form-control {
  display: block;
  width: 100%;
  /* max-width: 90rem; */
  padding: 0.3rem 0.6rem;
  font-size: 0.9062rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  appearance: none;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control1 {
  display: block;
  width: 100%;
  /* max-width: 90rem; */
  padding: 0.3rem 0.6rem;
  font-size: 0.9062rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  appearance: none;
  border-radius: 6px 0 0 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  box-shadow: 0 0 0 0.15rem rgba(0, 0, 0, 0.1);
}
.text-cap {
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #6c757d;
  font-weight: 400;
}
hr {
  margin: 1rem 0;
  color: #e9ecef;
  border: 0;
  border-top: 1px solid;
  opacity: 1;
}
table > :not(caption) > * > * {
  padding: 0.6rem 0.5rem;
  background-color: transparent;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px transparent;
}
table thead th {
  font-size: 0.78515625rem;
  text-align: start;
}
table tr td:first-child,
table tr th:first-child {
  padding-left: 1rem;
}
.form-control-sm {
  min-height: calc(1.5em + 0.5rem + calc(1px * 2));
  padding: 0.25rem 0.5rem;
  font-size: 0.78515625rem;
  border-radius: 0.375rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.3rem 0.6rem;
  font-size: 0.9062rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.datatable-form-control {
  padding-left: 1.75rem;
  width: 14rem !important;
  margin-left: 0 !important;
}
.wordwrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre {
  resize: vertical;
  /* overflow: auto; */
}
pre {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 0.5rem;
  padding: 1rem;
}
pre {
  display: block;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
.headerBg{
  background: linear-gradient(270deg, rgba(109, 5, 5, 0.40) 0%, rgba(211, 10, 10, 0.40) 100%);
}
